<ion-view class="custom">
    <h6 class="wc-msg">WELCOME TO EAZYBOTTLE</h6>
    <div class="logo">
        <img src="img/icon.png" width="200">
    </div>
    <!--<img src="img/icon.png" width="200" class="logo" style="position: absolute; left:22%; top: 22%">-->
    <div class="card" style="position: absolute; bottom: 0px;width:95%; background-color: rgba(255, 255, 255, 0.5);">
        <div class="item item-text-wrap" ng-if="data.show" style="background-color: transparent!important;">
            <label class="item-input item-floating-label">
                <span class="input-label" style="display: inline!important">Mobile Number</span>
                <input type="tel" placeholder="Mobile Number" name="phoneNumber" ng-model="login.phoneNumber" ng-maxlength="10" ng-pattern="/^[0-9]{10}$/" required>
            </label>
            <!--<ion-checkbox ng-model="login.terms" style="pointer-events:initial !important;font-size: 14px; border-bottom: 0!important;z-index:-1; background-color: transparent!important; border-color:rgb(44, 62, 80)">I agree to the <a href="#" stop-event ng-click="window.open('http://www.eazybottle.com/', '_system', 'location=no'); return false;">terms and conditions</a></ion-checkbox>-->
            <li class="item item-checkbox" style="z-index:-1!important;pointer-events: initial !important;font-size: 14px;border-bottom: 0!important;background-color: transparent!important;border-color: rgb(44, 62, 80);">
                <div class="checkbox" style="z-index:-1!important;">
                    <input type="checkbox" ng-model="login.terms">
                </div>
                I agree to the
                <a href="#" onclick="window.open('http://www.eazybottle.com/', '_system', 'location=no'); return false;" style="z-index:99!important">terms and conditions</a>
            </li>
            <!--top: 99px;left: 160px;-->
            <!--<a href="#" onclick="window.open('http://www.eazybottle.com/', '_system', 'location=no'); return false;" style="position: absolute;top: 66%;left: 45%;font-size: 14px;">terms and conditions</a>-->
            <small style="color: indianred; text-align: center!important">{{errMsg}}</small>
        </div>
        <!--make the loading spinner overlay the above divs-->
        <!--<ion-spinner icon="ripple" ng-if="data.otpLoading"></ion-spinner>-->
        <div class="item item-text-wrap" ng-if="!data.show">
            <div class="row">
                <div class="col col-80">
                    <label class="item-input item-floating-label" style="border-bottom: 1px solid">
                        <span class="input-label" style="display: inline!important">Enter OTP</span>
                        <input type="tel" placeholder="Enter OTP" name="otp" ng-model="login.otp" required>
                    </label>
                </div>
                <div class="col col-20">
                    <p ng-if="counter" style="margin-top:40px ">{{counter}}s</p>
                    <button class="button button-clear" ng-click="resendOTP()" ng-if="!counter" style="margin-top:22px; line-height: 18px; color:rgb(44, 62, 80); border:1px solid rgb(44, 62, 80)">Resend OTP</button>
                </div>
            </div>

            <small style="color: indianred; text-align: center!important">{{errMsg}}</small>
        </div>

        <div class="item item-divider bar-home" style="text-align: center;" ng-click="data.show ? loginUser() : loginOTP()">
            <button style="background-color: transparent;border: 0;"><i class="ion-android-arrow-forward"></i></button>
        </div>
    </div>
    <!--<div class="card network-card">You're offline</div>-->
</ion-view>