<ion-modal-view>
    <ion-header-bar align-title="left" class="bar-home-footer">
        <div class="buttons">
            <button class="button" ng-click="closeModal(2)" style="background: transparent; border: 0"><i class="ion-android-arrow-back" style="color: aliceblue!important; font-size: 30px"></i></button>
        </div>
        <h1 class="title" style="color: aliceblue!important;">Instant Bottle</h1>
        <button class="button-wallet" style="top:0!important; right:0!important">
            <!--<small style="position: absolute;right: 3px;font-size: 0.44em;top: -10px;">BOTTLE BALANCE</small>-->
			<div class="row" >
				<div class="col" style="text-align: center!important"><img src="img/wallet1.png" height="30" style="margin: 2px"></div>
                <div class="col" style="text-align: center!important; font-size:20px" ng-if="!user.walletBottles"><ion-spinner icon="android"></ion-spinner></div>
				<div class="col" style="text-align: center!important; font-size:23px" ng-if="user.walletBottles">{{user.walletBottles}}</div>
				<!--<div class="col col-26" style="text-align: center!important; font-size:.8em">BALANCE</div>-->
			</div>
		</button>
    </ion-header-bar>
    <ion-content class="scroll-content ionic-scroll">
        <ion-scroll direction="x" ng-if="availableVendor">
            <div class="row">
                <div class="col col-33 card" ng-repeat="vendor in vendors" ng-click="select_vendor(vendor.id)" style="text-align: center!important; margin: 10px 10px!important; background-image: url(img/1.png);
                background-repeat: repeat;"
                    ng-class="{'selected': vendor.selected}">
                    <div class="item item-body" style="box-shadow: 0 1px 3px rgba(0,0,0,.3);margin-bottom: -1px!important;border-bottom: 0!important;border-width:0!important;">
                        <small style="position: absolute;right: 4px!important;font-size: 0.44em;top: 0px;right:0;color:#E91E63 ">ISI Certified</small>
                        <img class="full-image" ng-src="{{vendor.url}}" alt="{{vendor.vendorName}}" onerror="this.src='img/1.png'">
                        <!--<img class="full-image" ng-src="img/nandu.png">-->
                        <p style="margin: 0!important; padding: 0!important">{{vendor.vendorName}}</p>
                        <p style="margin: 0!important; padding: 0!important">For ₹ {{vendor.price}}</p>
                        <p style="margin: 0!important; padding: 0!important; font-size: 0.44em;" ng-if="vendor.selected">Bottle Balance {{vendorBottleCount}}</p>
                    </div>
                    <p style="margin: 0!important; padding: 0!important;font-size: 0.5em; color:indianred!important;" ng-if="!vendor.selected">EazyBottle for Noble You</p>
                </div>
            </div>
        </ion-scroll>
        <div class="card" ng-if="!availableVendor">
            <div class="item item-text-wrap">Currently EazyBottle service is not availble at your address. Stay Tuned!</div>
        </div>
        <!--No. of bottles should not be visible for newUser and wallet bottle count is 1-->
        <div class="card text-center" ng-if='vendorBottleCount != 1 && !user.newUser'>
            <div class="item item-text-wrap">
                <div class="row">
                    <div class="col col-50">No. of Bottles</div>
                    <div class="col col-20"><i class=" icon ion-minus-circled red" style="font-size:20px!important;" ng-click="sub()"></i></div>
                    <div class="col col-10"><b style="font-size:1.2em">{{item.quantity}}</b></div>
                    <div class="col col-20"><i class=" icon ion-plus-circled green" style="font-size:20px!important;" ng-click="add()"></i></div>
                </div>
            </div>
        </div>
        <!-- <div class="card" ng-if='+user.walletBottles >= 2 && wallet'>
            <div class="item item-text-wrap">
                <small style="position: absolute;right: 4px!important;font-size: 0.6em;top: 0px;right:0;color:#8B4513 ">Wallet Advantage</small>
                <ion-toggle ng-model="getDeliveryNow.bottles" toggle-class="toggle-assertive" ng-change="deliveryBottleNumber()" style="border: 0!important;">Deliver 2 bottles</ion-toggle>
            </div>
        </div> -->
        <!--exchange bottle card-->
        <div class="card" ng-if="user.newUser">
            <div class="item item-text-wrap">
                <small style="position: absolute;right: 4px!important;font-size: 0.6em;top: 0px;color:#8B4513 ">Exchange for NewBottle</small>
                <ion-toggle ng-model="exchange.bottle" toggle-class="toggle-calm" ng-change="exchangeBottle()" style="border: 0!important;">I have an empty 20 Litre bottle</ion-toggle>
            </div>
        </div>
        <!--Delivery types-->
        <div class="row" ng-repeat="del in delivery" ng-if="$index % 2 === 0">
            <div class="col col-45 card" ng-if="$index < delivery.length" ng-click="select_delivery(delivery[$index].id)" style="margin:5px!important;border: 1px solid cadetblue;"
                ng-class="{'del-selected': delivery[$index].selected}">
                <div class="item item-text-wrap" style="background-color: transparent!important; text-align:center">
                    {{delivery[$index].name}}
                </div>
            </div>
            <div class="col col-45 card" ng-if="$index+1 < delivery.length" ng-click="select_delivery(delivery[$index+1].id)" style="margin:5px!important;border: 1px solid cadetblue;"
                ng-class="{'del-selected': delivery[$index+1].selected}">
                <div class="item item-text-wrap" style="background-color: transparent!important; text-align:center">
                    {{delivery[$index+1].name}}
                </div>
            </div>
        </div>
        <div class="card" ng-if="deliveryShow" style="text-align: center; color:  #ed5249; padding: 0!important; margin: 0!important;background-color: lightgrey; height: 20px;">
            {{deliveryMsg}}
        </div>
        <div class="card" ng-if="moroShow" style="text-align: center; color:  #ed5249; padding: 0!important; margin: 0!important;background-color: lightgrey; height: 20px;">
            {{moroMsg}}
        </div>
        <!--Delivery types ends here -->
        <div class="card" style="width: 100%!important; padding: 0!important; margin: 0!important;background-color: lightgrey" ng-if="deliverySlots">
            <ion-scroll direction="x">
                <div class="row">
                    <div class="col col-33 card" ng-repeat="slot in slots" ng-click="select_slot(slot.id)" style="text-align: center!important; margin:20px 10px!important; padding:5px!important;"
                        ng-class="{'del-selected': slot.selected}">
                        {{slot.time}}
                    </div>
                </div>
            </ion-scroll>
        </div>

        <!--add an address-->
        <div class="list card" ng-if="!!user.currentAddress">
			<div class="item">
				{{user.currentAddress.name}} <small style="color:#b2b2b2; float:right">Delivery Address</small>
			</div>
			<div class="item item-text-wrap">
				<pre>{{user.currentAddress.streetAddress}}</pre>
				<pre>{{user.currentAddress.locality}}</pre>
				<pre>{{user.currentAddress.phone}}</pre>
			</div>
			<a ng-click="updateAddress()" class="item item-icon-right">
				<i class="icon ion-chevron-right icon-profile-cutom"></i> Edit address
			</a>
		</div>
        <div class="card" ng-if="!user.currentAddress">
            <a ng-click="openModal(4)" class="item item-icon-right">
                <i class="icon ion-android-locate"></i> Use My Location
            </a>
        </div>

        <!--price summary-->
        <div class="card" ng-if="availableVendor">
            <div class="item item-text-wrap" style="background: transparent; color: #607D8B!important; line-height: 1.8;">
                <div class="row">
                    <div class="col col-75">{{selectedVendor.vendorName}}</div>
                    <div style="text-align: right" class="col">₹ {{getDeliveryNow.numberOfBottles * selectedVendor.price}}</div>
                </div>
                <!--below offer message for new customer only-->
                <div class="row" ng-if="(user.newUser && selectedVendor.signupOffer) || vendorBottleCount">
                    <div class="col col-75" style="color:#8B4513">Wallet Advantage</div>
                    <div style="text-align: right; color:#8B4513" class="col">-₹ {{getDeliveryNow.numberOfBottles * selectedVendor.discount}}</div>
                </div>
                <div class="row" ng-if="quickDeliveryCharge">
                    <div class="col col-75" style="color:#8B4513">Quick Delivery Charge</div>
                    <div style="text-align: right; color:#8B4513" class="col">₹ {{quickDeliveryCharge}}</div>
                </div>
                <div class="row" ng-if="user.newUser || user.isRefund || !user.depositAmt || getDeliveryNow.deposit" ng-click="depositMsg()">
                    <div class="col col-75">Refundable Deposit &nbsp <i class="ion-ios-help-outline" style="color:#ed5249"></i></div>
                    <div style="text-align: right" class="col">₹ {{getDeliveryNow.deposit}}</div>
                </div>
            </div>
            <!--only for new customer/ for returning customer total will be {{selectedVendor.price}} or Zero if it's a wallet bottle plus quick delivery charges-->
            <div class="item item-divider" style="text-align: center; font-size: 1.4em;">
                Total payable ₹ {{getDeliveryNow.deposit + quickDeliveryCharge + (getDeliveryNow.numberOfBottles * selectedVendor.price) - (getDeliveryNow.numberOfBottles * selectedVendor.discount)}}
            </div>
        </div>
        <div class="card text-center" ng-if="showPaymentOptions" style="width:100%!important;background-color:rgb(44, 62, 80); margin-left:0!important; margin-bottom:0!important; padding-bottom:0!important; border-radius:0!important;">
            <!--handle the first order case/ after delivery is placed the price details are still calculated and letting the user to place the order-->
            <div class="row" ng-if="!showConfirmDelivery" style="padding:0!important;">
                <div class="col col-50" style="color: aliceblue; text-align: center;padding:0!important" ng-click="cashOnDelivery()"><h4 style="color: aliceblue!important;">Cash on Delivery</h4></div>
                <div class="col col-50" style="color: aliceblue; text-align: center;padding:0!important" ng-click="payNow()"><h4 style="color: aliceblue!important;">Pay Now</h4></div>
            </div>
            <h4 class="title" ng-click="confirmDelivery()" style="color: aliceblue!important;" ng-if="showConfirmDelivery">CONFIRM</h4>
        </div>
        <div class="card text-center" ng-if="isVendorPresent.refundStatus == 'INITIATED'" style="width:100%!important;background-color:rgb(44, 62, 80); margin-left:0!important; margin-bottom:0!important; padding-bottom:0!important; border-radius:0!important;">
            <h4 class="title" ng-click="cancelRefund(isVendorPresent.id)" style="color: aliceblue!important;">Unlock My Account</h4>
            <!--ng-if="!user.newUser && user.walletBottles && wallet"-->
        </div>
    </ion-content>
    <!-- <ion-footer-bar align-title="center" class="bar-home-footer" ng-if="!user.isRefund || !user.depositAmt">
        <div class="row" ng-if="user.newUser || ! +user.walletBottles || !wallet || !user.depositAmt">
            <div class="col col-50" style="color: aliceblue; text-align: center;padding:0!important" ng-click="cashOnDelivery()">Cash on Delivery</div>
            <div class="col col-50" style="color: aliceblue; text-align: center;padding:0!important" ng-click="payNow()">Pay Now</div>
        </div>
        <h1 class="title" ng-click="confirmDelivery()" style="color: aliceblue!important;" ng-if="!user.newUser && +user.walletBottles && wallet && user.depositAmt">CONFIRM</h1>
    </ion-footer-bar>
    <ion-footer-bar align-title="center" class="bar-home-footer" ng-if="user.isRefund && user.depositAmt">
        <h1 class="title" ng-click="cancelRefund()" style="color: aliceblue!important;">Unlock My Account</h1>
    </ion-footer-bar> -->
</ion-modal-view>