<ion-modal-view>
    <ion-header-bar align-title="left" class="bar-home-footer">
        <div class="buttons">
            <button class="button" ng-click="closeModal(2)" style="background: transparent; border: 0"><i class="ion-android-arrow-back" style="color: aliceblue!important; font-size: 30px"></i></button>
        </div>
        <h1 class="title" style="color: aliceblue!important;">My Vendor</h1>
    </ion-header-bar>
    <ion-content class="scroll-content ionic-scroll">
        <div class="card" ng-repeat="vendor in vendors" style="text-align: center!important; margin: 10px 10px!important; height: 300px!important">
            <div class="item item-divider text-with-space" style="font-size: 1em;text-align: center" ng-style="">
                {{vendor.vendorName}}
            </div>
            <ion-slides options="options" slider="data.slider" style="height:260px">
                <ion-slide-page ng-repeat="report in vendor.reports" ng-click="showReport(5, report.url)">
                    <div class="box">
                        <img ng-src="{{report.url}}" onerror="this.src='img/1.png'">
                    </div>
                </ion-slide-page>
                <!--<ion-slide-page>
                    <div class="box " ng-click="openModal(5)">
                        <img src="img/lab-report.jpeg">
                    </div>
                </ion-slide-page>-->
            </ion-slides>
        </div>

    </ion-content>
</ion-modal-view>