<ion-modal-view>
    <ion-header-bar align-title="left" class="bar-home-footer">
        <div class="buttons">
            <button class="button" ng-click="closeModal(6)" style="background: transparent; border: 0"><i class="ion-android-arrow-back" style="color: aliceblue!important; font-size: 30px"></i></button>
        </div>
        <h1 class="title" style="color: aliceblue!important;">FAQs</h1>
    </ion-header-bar>

    <ion-content class="has-header" class="scroll-content ionic-scroll">
        <div ng-repeat="query in queries" class="list card">
          <div class="item item-divider item-icon-right text-with-space"
                    ng-click="toggleQuery(query)"
                    ng-class="{active: isQueryShown(query)}">
              <i class="icon" ng-class="isQueryShown(query) ? 'ion-chevron-down' : 'ion-chevron-right'" style="font-size:16px!important"></i>
            	 {{query.question}}
            </div> 	  
            <div class="item item-text-wrap text-with-space" ng-show="isQueryShown(query)">
           		{{query.answer}} 
            </div>
        </div>
      </ion-list>
	      
	<ion-content>	
</ion-modal-view>    