<ion-modal-view>
    <ion-header-bar align-title="left" style="opacity: 1!important;background: linear-gradient(to left, rgb(44, 62, 80), rgb(52, 152, 219))!important;">
        <div class="buttons">
            <button class="button" ng-click="closeModal(4)" style="background: transparent; border: 0"><i class="ion-android-arrow-back" style="color: aliceblue!important; font-size: 30px"></i></button>
        </div>
        <h1 class="title" style="color: aliceblue!important;">My profile</h1>
        </ion-header-bar>
        <ion-content class="scroll-content ionic-scroll">
            <div class="card bar-home" style="width: 100%!important; padding: 0!important; margin: 0!important;background-color: transparent; border-radius: 0!important;">
                <div class="item item-body" style="text-align: center!important; background-color: transparent!important">
                    <img src="img/fconnect.png" height="100" width="100">
                </div>

            </div>
            <form name="usrForm" id="updateForm" novalidate="" ng-submit="saveProfile(usrForm)">
            <div class="list" style="margin-top: 10px;">
                <div class="row" style=" padding-left: 0;padding-right: 0;">
                    <div class="col col-40">
                        <label class="item item-input" ng-class="{'has-errors': usrForm.firstname.$invalid, 'no-errors': usrForm.firstname.$valid}">
                            <input type="text" placeholder="First Name" ng-model="usr.firstname" required>
                        </label>
                    </div>
                    <div class="col col-60">
                        <label class="item item-input" ng-class="{'has-errors': usrForm.lastname.$invalid, 'no-errors': usrForm.lastname.$valid}">
                            <input type="text" placeholder="Last Name" ng-model="usr.lastname" required>
                        </label>
                    </div>
                </div>
                <label class="item item-input" style="border-top: 0" ng-class="{'has-errors': usrForm.email.$invalid, 'no-errors': usrForm.email.$valid}">
                    <input type="email" placeholder="Email" ng-model="usr.email" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/i" required>
                </label>
                <label class="item item-input">
                    <input type="tel" placeholder="Phone number" readonly="readonly" ng-model="user.phone">
                    <i class="icon ion-ios-checkmark valid-phone-icon"></i>
                </label>
            </div>
            </form>
        </ion-content>
        <ion-footer-bar align-title="center" class="bar-home-footer">
        <button class="button title" style="background-color: transparent;border: 0; color: aliceblue!important;margin: 0 auto;width:100%;" type="submit" form="updateForm">SAVE</button>
    </ion-footer-bar>
</ion-modal-view>