<ion-modal-view>
    <ion-header-bar align-title="left" class="bar-home-footer">
        <div class="buttons">
            <button class="button" ng-click="closeModal(1)" style="background: transparent; border: 0"><i class="ion-android-arrow-back" style="color: aliceblue!important; font-size: 30px"></i></button>
        </div>
        <h1 class="title" style="color: aliceblue!important;">About</h1>
    </ion-header-bar>
    <ion-content class="scroll-content ionic-scroll">
        <div class="card" style="text-align: center!important; background-color: transparent!important">
            <div class="item item-body" style="text-align: center!important; background-color: transparent!important">
                <img src="img/icon.png" height="200" width="200">
                <p style="margin: 0!important; padding: 0!important">Version {{appVersion}}</p>
            </div>
        </div>
        <div class="list card">
            <a href="" class="item item-icon-left" onclick="window.open('https://play.google.com/store/apps/details?id=com.eazybottle.android', '_system', 'location=no'); return false;">
				<i class="icon ion-social-android-outline"></i> RATE US
			</a>
			<a href="" class="item item-icon-left" onclick="window.open('https://www.facebook.com/eazybottle/', '_system', 'location=no'); return false;">
				<i class="icon ion-social-facebook-outline"></i> LIKE US
			</a>
            <a href="" class="item item-icon-left" onclick="window.open('https://twitter.com/eazybottle', '_system', 'location=no'); return false;">
				<i class="icon ion-social-twitter-outline"></i> FOLLOW US
            </a>
            <a href="" class="item item-icon-left" ng-click="openModal(6)">
                <i class="icon ion-help-circled"></i>  FAQs
            </a>
        </div>
        <div class="list card">
            <a href="" class="item item-icon-right" onclick="window.open('https://www.eazybottle.com/#/terms', '_system', 'location=no'); return false;">
                <i class="icon ion-ios-arrow-right"></i> Terms of Use
            </a>
            <a href="" class="item item-icon-right" onclick="window.open('https://www.eazybottle.com/#/privacy', '_system', 'location=no'); return false;">
                <i class="icon ion-ios-arrow-right"></i> Privacy Policy
            </a>
            <a href="" class="item item-icon-right" onclick="window.open('https://www.eazybottle.com/#/refund', '_system', 'location=no'); return false;">
                <i class="icon ion-ios-arrow-right"></i> Refunds
            </a>
        </div>
    </ion-content>
</ion-modal-view>