<ion-modal-view>
    <ion-header-bar align-title="left" class="bar-home-footer">
        <div class="buttons">
            <button class="button" ng-click="closeModal(1)" style="background: transparent; border: 0"><i class="ion-android-arrow-back" style="color: aliceblue!important; font-size: 30px"></i></button>
        </div>
        <h1 class="title" style="color: aliceblue!important;">Add to Wallet</h1>
    </ion-header-bar>
    <ion-content class="scroll-content ionic-scroll">
        <div class="card" style="width: 100%!important; padding: 0!important; margin: 0!important;background-color: transparent">
            <h4 style="text-align:center!important; color: rgb(52, 152, 219)!important">Bottle Brand</h4>
            <ion-scroll direction="x">
                <div class="row">
                    <div class="col col-40 card" ng-repeat="vendor in vendors" ng-click="select_vendor(vendor.id)" style="text-align: center!important; margin: 10px 10px!important"
                        ng-class="{'selected': vendor.selected}">
                        <!--<div class="item item-body">
                            <small style="position: absolute;right: 4px!important;font-size: 0.44em;top: 0px;right:0;color:#E91E63 ">ISI Certified</small>
                            <img class="full-image" ng-src="{{vendor.image}}">
                            <p style="margin: 0!important; padding: 0!important">{{vendor.vendorName}}</p>
                            <p style="margin: 0!important; padding: 0!important">For ₹ {{vendor.price}}</p>
                        </div>-->
                        <div class="item item-avatar" style="padding-left: 30px!important;">
                            <!--<small style="position: absolute;right: 4px!important;font-size: 0.44em;top: 0px;right:0;color:#E91E63 ">ISI Certified</small>-->
                            <img ng-src="{{vendor.url}}" onerror="this.src='img/1.png'" style="left: 0px!important; border-radius:0%!important;">
                            <h2>Price ₹ {{vendor.price}}</h2>
                            <p>{{vendor.vendorName}}</p>
                        </div>
                    </div>
                </div>
            </ion-scroll>
        </div>
        <div class="row" ng-repeat="prod in product" ng-if="$index % 2 === 0">
            <div class="col col-45 card" ng-if="$index < product.length" ng-click="select_item(product[$index].id)" style=" margin:5px!important;"
                ng-class="{'selected': product[$index].selected}">
                <div class="item item-divider text-with-space" style="font-size: 1em;" ng-style="set_color(product[$index].name)">
					{{product[$index].name}}
					<small style="position:absolute; right: 2px">₹{{product[$index].money}}</small>
				</div>
                <div class="item item-body" style="color: #607D8B!important; text-align: center; background-color: transparent!important;">
					<p style="margin: 0!important; padding: 0!important">{{product[$index].description}} {{product[$index].save}}</p>
                    <small style="font-size:.6em; color:#8B4513 ">Auto Delivery Advantage</small>
				</div>
            </div>
            <div class="col col-45 card" ng-if="$index + 1 < product.length" ng-click="select_item(product[$index+1].id)" style="margin:5px!important;"
                ng-class="{'selected': product[$index+1].selected}">
                <div class="item item-divider text-with-space" style="font-size: 1em;" ng-style="set_color(product[$index+1].name)">
					{{product[$index+1].name}}
					<small style="position:absolute; right: 2px">₹{{product[$index+1].money}}</small>
				</div>
                <div class="item item-body" style="color: #607D8B!important; text-align: center; background-color: transparent!important;">
					<p style="margin: 0!important; padding: 0!important">{{product[$index+1].description}} {{product[$index+1].save}}</p>
                    <small style="font-size:.6em; color:#8B4513 ">Auto Delivery Advantage</small>
				</div>
            </div>
        </div>
        <!--exchange bottle card-->
        <!--<div class="card">
            <ion-toggle ng-model="exchange.bottle" toggle-class="toggle-calm" ng-change="exchangeBottle()">I have used bottle</ion-toggle>
        </div>-->
        <!--price summary-->
        <div class="card">
            <div class="item item-text-wrap" style="background: transparent; color: #607D8B!important">
                <div class="row">
                    <div class="col col-75">{{selectedProduct.name}}</div>
                    <div style="text-align: right" class="col">₹ {{selectedProduct.money}}</div>
                </div>
                <div class="row" ng-if="selectedProduct.save">
                    <div class="col col-75" style="color:#8B4513">You Saved</div>
                    <div style="text-align: right; color:#8B4513" class="col">{{selectedProduct.save}}</div>
                </div>
            </div>
            <!--<div class="item item-divider" style="text-align: center; font-size: 1.4em;">
                Total payable ₹ {{selectedProduct.money}}
            </div>-->
        </div>
    </ion-content>
    <ion-footer-bar align-title="center" class="bar-home-footer">
        <h1 class="title" ng-click="walletPurchase()" style="color: aliceblue!important;">PAY ₹ {{selectedProduct.money}}</h1>
    </ion-footer-bar>
</ion-modal-view>