<ion-modal-view>
    <div class="imageView"  ng-click="closeModal(5)">
        <ion-content>
            <img ng-src="{{imageReport}}" style="display:block; width:100%; max-width:600px; margin:auto" />
        </ion-content>
    </div>
</ion-modal-view>