<ion-modal-view>
    <ion-header-bar align-title="left" class="bar-home-footer">
        <div class="buttons">
            <button class="button" ng-click="closeModal(2)" style="background: transparent; border: 0"><i class="ion-android-arrow-back" style="color: aliceblue!important; font-size: 30px"></i></button>
        </div>
        <h1 class="title" style="color: aliceblue!important;">Order Detail</h1>
    </ion-header-bar>
    <ion-content class="scroll-content ionic-scroll">
       <div class="card">
			<div class="item item-divider custom-divider">
				<h2>Order No. EZO-{{data.id}}</h2>
				<small>Price ₹ {{data.amount}}</small> <br>
				<small> Payment Type {{data.paymentType}}</small> <br>
				<small>{{data.createdDate}}</small>
			</div>
			<div class="item item-text-wrap">
				<a class="item item-thumbnail-left">
					<!--<img ng-src="{{data.urlImage}}" width="100%" height="100%">-->
					<div class="item item-image" style="border: 0!important">
						<img src="img/get-me.png" ng-if='!data.offer || data.offer.id == 1'>
						<img src="img/silver.png" ng-if='data.offer.name == "Silver Offer"' style="width: 59%!important">
						<img src="img/gold.png" ng-if='data.offer.name == "Gold Offer"' style="width: 59%!important">
						<img src="img/platinum.png" ng-if='data.offer.name == "Platinum Offer"' style="width: 59%!important">
						<img src="img/silver.png" ng-if='data.offer.type == "SPECIAL"' style="width: 59%!important">
					</div>
					<h2 ng-if='data.offer'> {{data.offer.name}} </h2>
					<h2 ng-if='data.depositAmt'>Deposit Bottle</h2>
					<!--<p ng-if='data.product'> Purchased {{data.product.noOfBottles}} bottles and got {{data.product.offer.freeBottles}} bottles free. </p>-->
					<p ng-if='data.product'> Added bottles to Wallet </p>
					<p>Bottle Brand {{data.vendor.vendorName}} </p>
				</a>
			</div>
		</div>
    </ion-content>
</ion-modal-view>