<ion-modal-view>
    <ion-header-bar align-title="left" class="bar-home-footer">
        <div class="buttons">
            <button class="button" ng-click="closeModal(4)" style="background: transparent; border: 0"><i class="ion-android-arrow-back" style="color: aliceblue!important; font-size: 30px"></i></button>
        </div>
        <h1 class="title" style="color: aliceblue!important;">Delivery Address</h1>
    </ion-header-bar>
    <ion-content class="scroll-content ionic-scroll has-footer">
        <div id="map" data-tap-disabled="true" style="width:100%; height: 250px!important;"></div>
        <form name="addressForm" id="addForm" novalidate="" ng-submit="saveAddress(addressForm)" class="list signup-list">
            <div class="card list list-inset">
                <label class="item item-input item-stacked-label" ng-class="{'has-errors': addressForm.fullname.$invalid, 'no-errors': addressForm.fullname.$valid}">
            <span class="input-label">Name<span class="custom-req">*</span></span>
            <input type="text" name="fullname" ng-model="address.name" required>
        </label>
                <label class="item item-input item-stacked-label" ng-class="{'has-errors': addressForm.streetAddress.$invalid, 'no-errors': addressForm.streetAddress.$valid}">
            <span class="input-label">Flat No/Floor/Building Name/Landmark<span class="custom-req">*</span></span>
            <input type="text" name="streetAddress" ng-model="address.streetAddress" required>
        </label>
                <label class="item item-input item-stacked-label" ng-class="{'has-errors': addressForm.locality.$invalid, 'no-errors': addressForm.locality.$valid}">
            <span class="input-label">Address<span class="custom-req">*</span></span>
            <textarea id="mapAdd" class="text-with-space" type="text" name="locality" readonly="readonly" required style="height:50px;"></textarea>
        </label>
            </div>
            <div class="card">
                <label class="item item-input item-stacked-label" ng-class="{'has-errors': addressForm.phone.$invalid, 'no-errors': addressForm.phone.$valid}">
                <span class="input-label">Mobile Number<span class="custom-req">*</span></span>
                <input type="tel" name="phone" ng-model="address.phone" ng-maxlength="10" ng-pattern="/^[0-9]{10}$/" required>
            </label>
            </div>
            <!--<ion-checkbox class="custom-checkbox" ng-model="address.default" ng-true-value="true" ng-false-value="false">Save as default address</ion-checkbox>-->
            <!--<p>Default address {{address.default}}</p>-->
        </form>
    </ion-content>
    <!--<div class="bar bar-footer bar-start-footer">
        <button class="button button-signup-start" type="submit" form="addForm">Save</button>
    </div>-->
    <ion-footer-bar align-title="center" class="bar-home-footer" ng-if="showSaveBtn">
        <!--<h1 class="title" style="color: aliceblue!important;">SAVE</h1>-->
        <button class="button title" style="background-color: transparent;border: 0; color: aliceblue!important;margin: 0 auto;width:100%;" type="submit" form="addForm">SAVE</button>
    </ion-footer-bar>
</ion-modal-view>

<!--<button style="background-color: transparent!important; border: 0!important" type="submit" form="addForm">SAVE</button>-->