<ion-modal-view>
    <ion-header-bar align-title="left" class="bar-home-footer">
        <div class="buttons">
            <button class="button" ng-click="closeModal(3)" style="background: transparent; border: 0"><i class="ion-android-arrow-back" style="color: aliceblue!important; font-size: 30px"></i></button>
        </div>
        <h1 class="title" style="color: aliceblue!important;">Auto Delivery</h1>
    </ion-header-bar>
    <ion-content class="scroll-content ionic-scroll">
        <div class="card" style="width: 100%!important; padding: 0!important; margin: 0!important;background-color: transparent">
            <h4 style="text-align:center!important; color: rgb(52, 152, 219)!important">What time are you available?</h4>
            <!--<ion-scroll direction="x">
                <div class="row">
                    <div class="col col-33 card" ng-repeat="slot in slots" ng-click="select_slot(slot.id)" style="text-align: center!important; margin:20px 10px!important; padding:5px!important;"
                        ng-class="{'del-selected': slot.selected}">
                        {{slot.time}}
                    </div>
                </div>
            </ion-scroll>-->
            <div class="row" ng-repeat="slot in slots" ng-if="$index % 3 === 0">
                <div class="col col-30 card" ng-if="$index < slots.length" ng-click="select_auto_slot(slots[$index].id)" style=" margin:5px!important; text-align: center!important; height: 30px; padding:4px!important" ng-class="{'del-selected': slots[$index].selected}">
                    {{slots[$index].time}}
                </div>
                <div class="col col-30 card" ng-if="$index + 1 < slots.length" ng-click="select_auto_slot(slots[$index+1].id)" style=" margin:5px!important; text-align: center!important; height: 30px; padding:4px!important" ng-class="{'del-selected': slots[$index+1].selected}">
                   {{slots[$index+1].time}}
                </div>
                <div class="col col-30 card" ng-if="$index + 2 < slots.length" ng-click="select_auto_slot(slots[$index+2].id)" style=" margin:5px!important; text-align: center!important; height: 30px; padding:4px!important" ng-class="{'del-selected': slots[$index+2].selected}">
                   {{slots[$index+2].time}}
                </div>
            </div>
        </div>

        <div class="card" style="width: 100%!important; padding: 0!important; margin: 0!important;background-color: transparent">
            <h4 style="text-align:center!important; color: rgb(52, 152, 219)!important">How often you need delivery?</h4>
            <ion-scroll direction="x">
                <div class="row">
                    <div class="col col-33 card" ng-repeat="day in days" ng-click="select_day(day.id)" style="text-align: center!important; margin:20px 10px!important; padding:5px!important;"
                        ng-class="{'del-selected': day.selected}">
                        {{day.time}}
                    </div>
                </div>
            </ion-scroll>
        </div>

        <div class="card">
            <ion-toggle ng-model="isAuto.selection" toggle-class="toggle-calm" ng-change="auto()">Auto Delivery </ion-toggle>
        </div>

        <div class="card" ng-if="user.isAutoDelivery && user.depositAmt && +user.walletBottles">
            <label class="item item-input">
                <span class="input-label">Upcoming Delivery</span>
                <i class="icon ion-edit edit-upcoming"></i>
                <input type="date" min="{{tomorrow}}" ng-model="schedule.date" date-parser="MM/DD/YYYY" ng-change="changeDate()" required="required" style="position: relative;left: 34px; color:transparent!important" />
                <p style="position: absolute; left: 48%">{{schedule.upcoming}}</p>
            </label>
        </div>
    </ion-content>
</ion-modal-view>