<ion-modal-view>
    <ion-header-bar align-title="left" class="bar-home-footer">
        <div class="buttons">
            <button class="button" ng-click="closeModal(3)" style="background: transparent; border: 0"><i class="ion-android-arrow-back" style="color: aliceblue!important; font-size: 30px"></i></button>
        </div>
        <h1 class="title" style="color: aliceblue!important;">My Account</h1>
        <div class="buttons button-right-logout">
            <button class="button button-clear" ng-click="logout()"><i class="ion-power" style="color: indianred!important; font-size: 30px"></i></button>
        </div>
    </ion-header-bar>
    <ion-content class="scroll-content ionic-scroll">
        <div class="card" style="text-align: center!important; background-color: transparent!important">
            <!--<div class="item item-body" style="text-align: center!important; background-color: transparent!important">-->
                <h4 style="text-align: center!important;">Deposit Money</h4>
                <h1 style="text-align: center!important;">₹ {{selectedBottle.depositAmt}}</h1>
            <!--</div>-->
        </div>
        <!--loop thru User Bottles array for the below data-->
        <ion-scroll direction="x">
            <div class="row">
                <div class="col col-50 card" ng-repeat="bottle in user.bottles" ng-click="select_item(bottle.id)" ng-if="bottle.refundStatus !== 'COMPLETED'" style="text-align: center!important; margin: 10px 10px!important" ng-class="{'selected': bottle.selected}">
                    <div class="item item-body">
                        <small style="position: absolute;right: 4px!important;font-size: 0.44em;top: 0px;right:0;color:#E91E63 ">ISI Certified</small>
                        <img class="full-image" ng-src="{{bottle.vendor.url}}" onerror="this.src='img/1.png'">
                        <p style="margin: 0!important; padding: 0!important">{{bottle.vendor.vendorName}}</p>
                        <p style="margin: 0!important; padding: 0!important">Bottle Balance {{bottle.free + bottle.paid}}</p>
                    </div>
                    <!-- <div class="item item-divider text-with-space" ng-if="bottle.refundStatus == 'NONE' && bottle.paid"  style="font-size: 1em;text-align: center" ng-click="refundBottles(bottle.id)">
					    Refund Bottles
				    </div>
                    <div class="item item-divider text-with-space" ng-if="bottle.refundStatus == 'INITIATED'"  style="font-size: 1em;text-align: center" ng-click="cancelBottleRefund(bottle.id)">
                        Add Bottles back to Wallet
                    </div> -->
                </div>
            </div>
        </ion-scroll>
        <div class="card">
			<div class="item item-divider text-with-space" style="text-align: center; background-color: #BBDEFB!important">
				Refund Deposit Money request will automatically refund Wallet Bottles also.
			</div>
		</div>
    </ion-content>
    <ion-footer-bar align-title="center" class="bar-home-footer">
        <h1 class="title" ng-click="depositRefund(selectedBottle.id)" ng-if="selectedBottle.refundStatus == 'NONE' && selectedBottle.depositAmt" style="color: aliceblue!important;">Refund Deposit Money</h1>
        <h1 class="title" ng-click="cancelRefund(selectedBottle.id)" ng-if="selectedBottle.refundStatus == 'INITIATED'" style="color: aliceblue!important;">Unlock My Account</h1>
    </ion-footer-bar>
</ion-modal-view>