<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Delivery Details">
	<ion-content class="padding">

		<div class="card">
			<div class="item item-divider custom-divider">
				<h2>Delivery No. EZD00{{delivery.id}}</h2>
				<small>Delivery Type: {{delivery.deliveryType}}</small> <br>
				<p ng-if="delivery.status === 'PLACED'">{{delivery.noOfBotlles}} Bottle under Transit</p> <br>
				<p ng-if="delivery.deliveryType === 'QUICK'">Delivery Time: Within 30mins</p>
				<p ng-if="delivery.deliveryType === 'NORMAL'">Delivery Time: Within 2hours</p>
				<small>Delivery Status: {{delivery.status}}</small> <br>
				<small style="position:absolute; top:2px; right:4px; color:lightgray">{{delivery.lastModified}}</small>
			</div>
			<div class="item item-text-wrap" ng-if="delivery.status === 'PLACED'">
				<h4> Delivery Address </h4>
				<pre>{{delivery.address.streetAddress}}</pre>
				<pre>{{delivery.address.locality}}</pre>
				<pre>{{delivery.address.phone}}</pre>
			</div>
			<div class="item item-divider bar-home-footer" ng-if="delivery.status === 'PLACED'">
				<div class="row start-row">
					<div class="col">
						<button class="button button-later" ng-click="cancel(delivery.deliveryId)">Cancel</button>
					</div>
					<div class="col">
						<button class="button button-get-now" ng-click="track()">Track</button>
					</div>
				</div>
			</div>
		</div>




		<img ng-src="{{chat.face}}" style="width: 64px; height: 64px">
		<p>
			{{chat.lastText}}
		</p>
	</ion-content>
</ion-view>