<div ng-controller="localnotificationhandler" class="card" style="width: 100%!important; padding: 0!important; margin: 0!important;background-color: lightgrey">
    <ion-scroll direction="x">
        <div class="row">
            <div class="col col-40 card" ng-repeat="slot in notificationSlots" ng-click="select_slot_localNotification(slot.id)" style="text-align: center!important; padding:5px!important;"
                ng-class="{'del-selected': slot.selected}">
                {{slot.time}}
            </div>
        </div>
    </ion-scroll>
</div>