<ion-view view-title="Account">
	<ion-content>
		<div class="card bar-home" style="width: 100%!important; padding: 0!important; margin: 0!important; border-radius: 0!important;">
			<div class="item item-avatar" style="background-color: transparent;margin-left: 30px;">
				<img src="img/fconnect.png" style="position: absolute;top: 14px;left: 0px;max-width: 70px;max-height: 70px;">
				<div style="margin-left: 20px!important;">
					<h2 style="color:aliceblue" ng-click="openModal(4)">{{headline}}</h2>
					<!--<p style="color:aliceblue">Nira 100 &nbsp <i class="ion-ios-help-outline"></i> </p>
					<p style="color:aliceblue"> Redeemed: 0 </p>-->
					<p style="color:aliceblue">Deposit ₹ {{user.depositAmt}}</p>
					<p style="color:aliceblue"> Total Bottles {{user.walletBottles}} </p>
				</div>
			</div>
			<a href="" ng-click="openModal(4)" class="item item-icon-right" style="position: absolute;right: 0;top: 30px;background-color: transparent;border: 0;">
				<i class="icon ion-ios-arrow-right" style="color: aliceblue"></i>
			</a>
			</div>
			<div class="list card">

				<a href="" class="item item-icon-right" ng-click="openModal(3)">
					<i class="icon ion-ios-arrow-right"></i> My Account
				</a>

				<a href="" class="item item-icon-right" ng-click="openModal(2)">
					<i class="icon ion-ios-arrow-right"></i> My Vendor
				</a>

				<a href="" class="item item-icon-right" ng-click="openModal(1)">
					<i class="icon ion-ios-arrow-right"></i> About
				</a>

			</div>
			<div class="row" style="margin-top: 40px">
				<a href="{{supportNumber}} " target="_blank" style="text-decoration:none;text-align: center!important;color:rgb(44, 62, 80)!important" class="col col-50"> HELPLINE </a>
				<a href="mailto:support@eazybottle.com" target="_blank" style="text-decoration:none;text-align: center!important;color:rgb(44, 62, 80)!important" class="col col-50"> FEEDBACK </a>
				<!--<a href="" target="_blank" style="text-decoration:none;text-align: center!important; height: 25px!important; margin: 4px auto!important;color:rgb(44, 62, 80)!important" class="col card" ng-click="openModal(1)"> About </a>-->
			</div>
	</ion-content>
</ion-view>