<ion-view view-title="EazyBottle" style="font-size: 1.2em!important">
	<ion-nav-bar class="bar-stable bar-home">
		<button class="button-wallet" style="top:0!important; right:0!important" ng-click="addBottles(2)">
            <!--<small style="position: absolute;right: 14px;font-size: 0.44em;top:0px;">BOTTLE WALLET</small>-->
			<div class="row" style="width:100px!important">
				<div class="col " style="text-align: center!important;"><img src="img/wallet1.png" height="30" style="margin: 0px; "></div>
				<div class="col " style="text-align: center!important; font-size:20px" ng-if="!user.walletBottles"><ion-spinner icon="android"></ion-spinner></div>
				<div class="col " style="text-align: center!important; font-size:23px; " ng-if="user.walletBottles">{{user.walletBottles}}</div>
				<div class="col " style="text-align: center!important;  margin-top:2px!important"><i class="ion-ios-plus-outline" style="font-size: 20px!important;font-weight: 600!important"></i></div>
			</div>
		</button>
	</ion-nav-bar>
	<ion-content>
		<!-- <h5 style="text-align:center!important; color: rgb(52, 152, 219)">Click <b style="color: rgb(44, 62, 80)!important">Get Delivery Now</b> to drink some Water!</h5>
		<div class="card" style="text-align: center!important; width:70%!important; margin:50px auto!important; " ng-click="fetchBottleAddress()">
			<div class="item item-text-wrap" style="text-align: center!important; margin:0 auto">
				<img src="img/get-me.png" height="100">
			</div>
			<div class="item item-divider bar-home" style="color: white!important;">
				Get Delivery Now
			</div>
		</div>
		<div class="card" style="text-align: center!important;width:70%!important; margin:50px auto!important" ng-click="openModal(3)">
			<div class="item item-text-wrap" style="text-align: center!important; margin:0 auto">
				<small style="position: absolute;right: 4px!important;font-size: 0.6em;top: 0px;right:0;color:#8B4513 ">Wallet Advantage</small>
				<i class="icon-auto-delivery" style="font-size: 50px; color:rgb(44, 62, 80)"></i>
			</div>
			<div class="item item-divider bar-home" style="color: white!important;">
				{{upcomingMessage}}
			</div>
		</div> -->
		<div class="card" style="text-align: center!important; width:100%!important; padding:0!important;margin:0!important">
            <ion-slides options="options" slider="data.slider" style="height:257px" ng-if="sliderShow">
                <ion-slide-page ng-repeat="img in businessValues.carouselImages">
                    <div class="box">
                        <img ng-src="{{businessValues.carouselImages[$index]}}" onerror="this.src='img/1.png'">
                    </div>
				</ion-slide-page>
            </ion-slides>
        </div>
		<div class="row" style="text-align: center!important;">
			<div class="col card" style="text-align: center!important;background-image: url(img/1.png)!important;background-repeat: repeat;" ng-click="fetchBottleAddress()">
				<img src="img/badge1.png" height="80" style="text-align:center; margin-top:10px!important">
				<h6 style="text-align:center; margin:0px!important">Water</h6>
			</div>
			<div class="col card" style="text-align: center!important; background-image: url(img/1.png);background-repeat: repeat;" ng-click="addBottles(2)">
				<img src="img/badge2.png" height="80" style="text-align:center; margin-top:10px!important">
				<h6 style="text-align:center; margin:0px!important">Wallet</h6>
			</div>
			<div class="col card" style="text-align: center!important; background-image: url(img/1.png);background-repeat: repeat;" ng-click="openModal(3)">
				<img src="img/badge3.png" height="80" style="text-align:center; margin-top:10px!important">
				<h6 style="text-align:center; margin:0px!important">EazyBottle</h6>
			</div>
		</div>
		<div class="card" ng-if="user.isAutoDelivery" style="text-align: center; color:  #ed5249; padding: 0!important; margin: 0!important;background-color: lightgrey; height: 20px; border-radius:0px!important;">
            {{upcomingMessage}}
		</div>
		<!-- holiday info -->
        <div class="card" ng-if="holidayShow" style="text-align: center; color:  #ed5249; padding: 0!important; margin: 4px!important;background-color: lightgrey; height: 20px;">
            {{holidayMsg}}
        </div>
	</ion-content>
</ion-view>