<ion-view view-title="{{viewName}}">
	<ion-nav-bar class="bar-stable bar-home">
	</ion-nav-bar>
	<ion-content>
		<div class="card" >
			<div class="row row-centered" style="text-align: center">
				<div class="col col-right-border" ng-click="showDeliveries()" style="{{deliveryColor}}">Deliveries</div>
				<div class="col col-left-border" ng-click="showOrders()" style="{{orderColor}}">Transactions</div>
			</div>
		</div>
		<!--Delivery list-->
		<ion-list ng-if="showDeliveryCard" >
			<ion-item class="item item-avatar item-icon-right" ng-repeat="delivery in deliveryList | orderBy: reverse:true"  ng-if="delivery.status !== 'PENDING_PAYMENT'" type="item-text-wrap" ng-click="deliveryDetail(delivery.id)">
				<img ng-src="img/get-me.png">
				<h2>EZD-{{delivery.id}}</h2>
				<p>{{delivery.status}}</p>
				<i class="icon ion-chevron-right icon-accessory"></i>
				<ion-option-button class="button-calm" ng-click="track()" ng-if="delivery.status == 'PLACED'">
					Track
				</ion-option-button>
			</ion-item>
		</ion-list>

		<!--Transaction list-->
		<ion-list ng-if="showOrderCard">
			<ion-item class="item item-avatar item-icon-right" ng-repeat="data in orderList | orderBy: reverse:true" type="item-text-wrap" ng-click="orderDetail(data.id)">
				<!--<img ng-src="img/get-me.png">-->
				<img src="img/get-me.png" ng-if='!data.offer || data.offer.id == 1'>
				<img src="img/silver.png" ng-if='data.offer.name == "Silver Offer"' style="width: 24px!important; height: 40px!important">
				<img src="img/gold.png" ng-if='data.offer.name == "Gold Offer"' style="width: 24px!important; height: 40px!important">
				<img src="img/platinum.png" ng-if='data.offer.name == "Platinum Offer"' style="width: 24px!important; height: 40px!important">
				<img src="img/silver.png" ng-if='data.offer.type == "SPECIAL"' style="width: 24px!important; height: 40px!important">
				<h2>EZO-{{data.id}}</h2>
				<p>Price ₹ {{data.amount}}</p>
				<i class="icon ion-chevron-right icon-accessory"></i>
			</ion-item>
		</ion-list>

	</ion-content>
</ion-view>