@charset "UTF-8";

@font-face {
  font-family: "auto-delivery";
  src:url("fonts/auto-delivery.eot");
  src:url("fonts/auto-delivery.eot?#iefix") format("embedded-opentype"),
    url("fonts/auto-delivery.woff") format("woff"),
    url("fonts/auto-delivery.ttf") format("truetype"),
    url("fonts/auto-delivery.svg#auto-delivery") format("svg");
  font-weight: normal;
  font-style: normal;

}

[class^="icon-auto-delivery"]:before,
[class*=" icon-auto-delivery"]:before {
  font-family: "auto-delivery" !important;
    display: inline-block;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.icon-auto-delivery:before {
  content: "\61";
}