body{
	font-family: 'Lato', sans-serif !important;
  	font-style: normal;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Lato', sans-serif !important;
}

input, button, select, textarea, pre{
	font-family: 'Lato', sans-serif !important;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-    ng-cloak {
        display: none !important;
    }

.card{
	margin: 10px 10px!important;
}

.col{
	padding: 0!important;
}

.text-with-space{
	white-space: initial!important;
}

.custom{
	/*background-color: aliceblue;*/
	/*background-image: url("../img/bg.png")!important;
    background-repeat: repeat!important;*/
    opacity: 1;
    background-color: #BBDEFB;
    background-image: linear-gradient(to bottom, #BBDEFB, rgb(182, 251, 255));
}

.logo{
    text-align: center;
    /*margin-top: 20%; for lower resolution phones margin-top is problem*/ 
}

.wc-msg{
    text-align: center;
    margin-top: 14%;
    color: transparent;
	font: bold 1.2em 'Lato', sans-serif;
    background-color: darkslategray;
    color: transparent;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
    -webkit-background-clip: text;
}

.button-login{
	position: absolute;
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.button-wallet{
	z-index: 99;
    background-color: transparent;
    border: 0!important;
    position: absolute;
    right: 14px;
    color: aliceblue;
}

.spinner svg {
  /*width: 19% !important;
  height: 85px !important;*/
  color: #7fcdff !important;
}

.ion-android-arrow-forward{
	font-size: 30px;
	color: aliceblue!important;
}


.bar-home{
	opacity: 1!important;
    background-color: rgb(52, 152, 219)!important;
    background-image: linear-gradient(to left, rgb(44, 62, 80), rgb(52, 152, 219))!important;
	/*border-bottom: 1px;*/
	/* box-shadow: 1.5px 1.5px 1.5px 1.5px #999;
     -webkit-box-shadow: 1.5px 1.5px 1.5px 1.5px #999; */
}

.bar-footer {
    border-top-width: 0!important;
}

.bar-home .title{
	color: aliceblue!important;
	font-size: 1.4em!important;
}

.tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
    color: rgb(44, 62, 80);
}

/*wallet-modal.css*/

.selected {
	border: 2px solid #8B4513;
	/*background-color: #8B4513;*/

}

.del-selected{
	background-color: cadetblue;
	color: white!important;
}
.bar-wallet{
	background-color: #8B4513!important;
}

/*modal-instant.css*/
.bar-home-footer{
	background-color: rgb(44, 62, 80)!important;
	color: aliceblue!important;
	/* box-shadow: 1.5px 1.5px 1.5px 1.5px #999;
     -webkit-box-shadow: 1.5px 1.5px 1.5px 1.5px #999; */
}
/*modal slide-in-right animation*/
.slide-in-right {	
	-webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.slide-in-right.ng-enter, .slide-in-right > .ng-enter {
	-webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
	transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
}

.slide-in-right.ng-enter-active, .slide-in-right > .ng-enter-active {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

.popup-title{
	font-family: 'Lato', sans-serif!important; 
}

.popup-buttons{
	padding:0!important;
}

.popup-buttons .button{
	margin-right: 0!important;
	font-family: 'Lato', sans-serif!important;
}

.button-get-now{
	background-color: rgb(44, 62, 80)!important;
	color: aliceblue!important;
	font-size: 1em!important;
}

.button-later{
	background-color: aliceblue!important;
	color: black!important;
	font-size: 1em!important;
}

.button-popup-icon-confirm {
    text-align: center;
    font-family: 'Lato', sans-serif!important;
    font-size: 1em!important;
    z-index:1000;
    padding: 0px !important;
    color: green;
}

.button-popup-icon-reschedule {
    text-align: center;
    font-family: 'Lato', sans-serif!important;
    font-size: 1em!important;
    z-index:1000;
    padding: 0px !important;
    color: dodgerblue;
}

.button-popup-icon-cancel {
    text-align: center;
    font-family: 'Lato', sans-serif!important;
    font-size: 1em!important;
    z-index:1000;
    padding: 0px !important;
    color: darkred;
}

.edit-upcoming{
  position: absolute;
  right: 30px;
}

.valid-phone-icon{
  position: absolute;
  right: 30px;
  color: limegreen;
}


#map:after {
    width: 40px;
    height: 40px;
    display: block;
    content: ' ';
    position: absolute;
    top: 50%; left: 50%;
    margin: -40px 0 0 -11px;
    background: url('../img/marker.png');
    background-size: 100% 100%;  /*Since I used the HiDPI marker version this compensates for the 2x size */
    pointer-events: none; /* This disables clicks on the marker. Not fully supported by all major browsers, though */
}

/*lab report image inside slide box*/
div.center-cropped {
    width: 200px;
    height: 200px;
    overflow:hidden;
}
div.center-cropped img {
    height: 100%;
    min-width: 100%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}

/*imageView fullscreen for reports*/
.imageView{
	height: 100% !important;
	background-color: black !important;

	display: -webkit-box !important;
	display: -moz-box !important;
	display: -ms-flexbox !important;
	display: -webkit-flex !important;
	display: flex !important;

	-webkit-box-direction: normal !important;
	-moz-box-direction: normal !important;
	-webkit-box-orient: horizontal !important;
	-moz-box-orient: horizontal !important;
	-webkit-flex-direction: row !important;
	-ms-flex-direction: row !important;
	flex-direction: row !important;


	-webkit-box-align: center !important;
	-moz-box-align: center !important;
	-webkit-align-items: center !important;
	-ms-flex-align: center !important;
	align-items: center !important;
}


.has-errors {
  border-bottom: 1px solid #B83E2C;
}

.no-errors {
  border-bottom: 2px solid green;
}

.row-centered{
    text-align: center
}

.col-right-border{
    border-right: 0.5px solid rgb(44, 62, 80); 
	/*height: 30px;
	text-align: center!important;*/
	font-size: 1.2em;
	padding: 5px!important;
}

.col-left-border{
    border-left: 0.5px solid rgb(44, 62, 80); 
	/*height: 30px;
	text-align: center!important;*/
	font-size: 1.2em;
	padding: 5px!important;
}

.card-slideinup{
    height: 50px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    z-index: 99;
    background-color: rgb(44, 62, 80)!important;
    left: 0px;
    margin: 0!important;
    color: aliceblue;
    text-align: center;
    padding-top: 12px;
    font-size: 1.2em;
    border-radius: 0px!important;
}

@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}

.postponepopup .popup-body{
    padding: 0!important;
}

.button-right-logout{
  text-align:right !important;
}

 .list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.15s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.red:before {
    /* color: red; */
    /* opacity: 1!important;
    background-color: rgb(52, 152, 219)!important;
    background-image: linear-gradient(to left, rgb(44, 62, 80), rgb(52, 152, 219))!important; */
    color: cadetblue;
}

.green:before {
    /* color: green; */
    /* opacity: 1!important;
    background-color: rgb(52, 152, 219)!important;
    background-image: linear-gradient(to left, rgb(44, 62, 80), rgb(52, 152, 219))!important; */
    color: indianred;
}
